{% extends "administrador/base.html" %}

{% load static %}

{% block contenido %}
    <div class="container">
        <div class="COLOR-INDEX">
            <h1 class="mt-4 mb-4">Lista de Instrumentos</h1>
        </div>
        <div class="row">
            {% for instrum in instrumento %}
            <div class="col-md-auto mb-4">
                <div class="card mx-auto" style="width: 18rem;">
                    {% if instrum.imagen %}
                    <img src="{{ instrum.imagen.url }}" class="card-img-top" alt="{{ instrum.nombre }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ instrum.nombre }} - {{ instrum.marca }}</h5>
                        <p class="card-text">
                            Precio: ${{ instrum.precio }}
                        </p>
                        <a type="button" class="btn btn-warning" href="{% url 'instrumedit' pk=instrum.id_instrumento %}">
                                Modificar</a>
                        <a type="button" class="btn btn-danger" href="{% url 'instrumdelete' pk=instrum.id_instrumento%}">
                            Eliminar</a>
                    </div>
                </div>
                <br/>
            </div>
            {% endfor %}
        </div>
{% endblock %}