
{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<div class="container">
    <h1>Confirmar Compra</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Confirmar Compra</button>
    </form>

    <h2>Elementos en el Carrito</h2>
    <ul>
        {% for elemento in elementos %}
            <li>
                {% if elemento.disco %}
                    {{ elemento.disco.nombre }} - Cantidad: {{ elemento.cantidad }} - 
                    Precio Unitario: ${{ elemento.disco.precio }} - 
                    Subtotal: ${{ elemento.subtotal }}
                {% elif elemento.instrumento %}
                    {{ elemento.instrumento.nombre }} - Cantidad: {{ elemento.cantidad }} - 
                    Precio Unitario: ${{ elemento.instrumento.precio }} - 
                    Subtotal: ${{ elemento.subtotal }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <h3>Total: ${{ total }}</h3>
</div>
{% endblock %}


