{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <form method="get" action="">
                <div class="input-group">
                    <select name="tipo" class="form-select">
                        <option value="">Todos los instrumentos</option>
                        {% for tipo in tipos %}
                            <option value="{{ tipo.id_tipo }}" {% if request.GET.tipo == tipo.id_tipo|stringformat:"s" %}selected{% endif %}>
                                {{ tipo.tipo }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for instrum in instrumento %}
            {% if instrum.stock > 0 %}
                <div class="col-md-auto mb-4">
                    <div class="card mx-auto" style="width: 18rem;">
                        {% if instrum.imagen %}
                            <img src="{{ instrum.imagen.url }}" class="card-img-top" alt="{{ instrum.nombre }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ instrum.nombre }} - {{ instrum.marca }}</h5>
                            <p class="card-text">
                                Precio: ${{ instrum.precio }}
                            </p>
                            <p>Stock: {{ instrum.stock }}</p>
                            <form class="add-to-cart-form">
                                <input type="hidden" name="disco_id" value="{{ disco.id_disco }}">
                                <div class="input-group mb-3">
                                    <button type="button" class="btn btn-success add-to-cart" data-disco-id="{{ disco.id_disco }}">Añadir al carrito</button>
                                    <input type="number" name="cantidad" class="form-control" value="1" min="1">
                                </div>
                            </form>
                            <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal{{ instrum.id_instrumento }}">Detalles</a>
                        </div>
                    </div>
                    <br />
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal{{ instrum.id_instrumento }}" tabindex="-1" aria-labelledby="modalLabel{{ instrum.id_instrumento }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ instrum.id_instrumento }}">{{ instrum.nombre }} - {{ instrum.marca }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{ instrum.descripcion }}</p>
                                <p>Categoría: {{ instrum.id_tipo }}</p>
                                <p>Precio: ${{ instrum.precio }}</p>
                                {% if instrum.yt_iframe %}
                                    <div class="embed-responsive embed-responsive-16by9 video-container">
                                        {{ instrum.yt_iframe|safe }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}    
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.add-to-cart').click(function(event) {
            event.preventDefault();
            var instrumId = $(this).data('instrum-id');
            var cantidad = $(this).closest('.add-to-cart-form').find('input[name="cantidad"]').val();
            $.ajax({
                url: "{% url 'CarroAdd' %}",
                type: "POST",
                data: {
                    instrum_id: instrumId,
                    cantidad: cantidad,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    alert(response.mensaje);
                },
                error: function(response) {
                    alert('Error al agregar el elemento al carrito.');
                }
            });
        });
    });
</script>
    <!-- FUNCION JQ PAUSAR VIDEO -->
    <script class="text/javascript">
        function stopVideo(modalId) {
          var modal = document.getElementById(modalId);
          var iframe = modal.querySelector('iframe');
          var videoSrc = iframe.src;
          //PAUSAR IFRAME DE YOUTUBE
          iframe.src = videoSrc;
        }
        var modals = document.querySelectorAll('.modal');
        modals.forEach(function (modal) {
          modal.addEventListener('focusout', function () {
            stopVideo(modal.id);
          });
        });
      </script>
{% endblock %}
