#masterNavbar {
  min-width: 100%;
}

#masterFooter {
  min-width: 100%;
}

.imgCarrousel {
  width: 100%;
  height: 45vw;
}

.img-index {
  width: 50vw;
  height: 50vw;
}

p.texto-carousel {
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.footer-bg {
  background-color: #ffc107;
}

.footer-text {
  color: white;
}

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bg-login.png);
  background-repeat: repeat;
  background-position: center;
}

.COLOR-INDEX{
  color: white;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 1%;
  padding-bottom: 1%;
}